.puppyList {
    text-align: center;
    padding: 1rem;
}

.puppyList__name {
    list-style: none;
    margin: 0.5rem;
}

.puppyList__name:hover {
    cursor: pointer;
}

.dumbass {
    display: none;
}